<style>
.box1 {
    width: 400px;
    height: 500px;
    background-color: red;
}
.box2 {
    width: 100px;
    height: 100px;
    background-color: green;
}

.box3 {
    width: 400px;
    height: 500px;
    background-color: blue;


}
.box4 {
    width: 100px;
    height: 100px;
    background-color: rgb(21, 255, 0);
}
</style>